@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;500;600&display=swap");

/*----------------------------------------------------------*/
/*-------------------- RESETO CSS --------------------------*/
/*----------------------------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll-behavior 3.5s ease;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------------------------------------------------*/
/*-------------------- SET DE TEMAS A ELEGIR ---------------*/
/*----------------------------------------------------------*/

:root {
  --roboto: "Roboto mono";
  --monserrat: "Montserrat";
}

[data-theme="default"] {
  --color-bg: #ffffff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
  --color-p: #8892b0;
  --color-btn-shadow: rgb(201, 46, 70);
  --color-icon-a: #8892b0;
}

[data-theme="dark"] {
  --color-bg: #0e141b;
  --color-bg-offset: #252526;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-border: #2d2d2d;
  --color-primary: #ff5277;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3;
  --color-p: #8892b0;
  --color-card: #3647599e;
  --color-btn-shadow: rgb(201, 46, 70);
  --color-icon-a: #ccd6f6;
}

[data-theme="choco"] {
  --color-bg: #55423d;
  --color-bg-offset: #41312e;
  --color-text: #fffffe;
  --color-text-offset: #ffc0ad;
  --color-border: #271c19;
  --color-primary: #f3ab87;
  --color-primary-offset: #ffc0ad;
  --color-secondary: #e78fb3;
  --color-p: #f5ebeb;
  --color-btn-shadow: #a55547;
  --color-icon-a: #ccd6f6;
}

[data-theme="light"] {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-text: #172c66;
  --color-text-offset: #006e8a;
  --color-border: #f3d2c1;
  --color-primary: #f582ae;
  --color-primary-offset: #fa698b;
  --color-secondary: #8bd3dd;
  --color-sidebar: #393646;
  --color-p: #8892b0;
  --color-btn-shadow: #b64f67;
  --color-icon-a: #393646;
}

[data-theme="bowser"] {
  --color-bg: #16161a;
  --color-bg-offset: #29293e;
  --color-text: #fffffe;
  --color-text-offset: #94a1b2;
  --color-border: #383a61;
  --color-primary: #7f5af0;
  --color-primary-offset: #9a51ff;
  --color-secondary: #2cb67d;
  --color-p: #8892b0;
  --color-btn-shadow: #4c368f;
  --color-icon-a: #ccd6f6;
}

[data-theme="marino"] {
  --color-bg: #0a192f;
  --color-bg-offset: #0a192f;
  --color-text: #f7f7f9;
  --color-text-offset: #008af4;
  --color-border: #424346;
  --color-primary: #00ffca;
  --color-primary-offset: #00ffca;
  --color-secondary: #43a9a3;
  --color-p: #8892b0;
  --color-btn-shadow: #00876c;
  --color-icon-a: #ccd6f6;
}

/*----------------------------------------------------------*/
/*-------------------- PROPI BODY --------------------------*/
/*----------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-bold", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  counter-reset: section 0;
}

/*----------------------------------------------------------*/
/*-------------- SECCION HEADER MENU TEMAS -----------------*/
/*----------------------------------------------------------*/

#seleccionTema {
  background-color: var(--color-border);
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#seleccionTema {
  animation-name: aparecer;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  /* Esto asegura que el div se mantenga en su lugar después de la animación */
}

@keyframes aparecer {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#menuTema {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 1.5rem 2rem;
  margin: 0;
}

#menuTema li {
  display: inline-block;
  border-radius: 0.5rem;
  margin: 0px 0.3rem;
}

#menuTema li button {
  padding: 1rem;
  border-radius: 0.5em;
  width: 100%;
  background-color: var(--color-bg);
  cursor: pointer;
  border: none;
}

.tituloTema {
  text-align: center;
  margin: 0;
}

.iconoTema {
  color: var(--color-text);
  cursor: pointer;
}

.miVentanaEmergente {
  display: none !important;
}

.nombreTema {
  display: block;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.coloresPaleta {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  white-space: nowrap;
  text-indent: 100%;
  text-align: left;
  overflow: hidden;
  vertical-align: bottom;
  box-shadow: 0 0 0 2px #fff;
}

.listaItemTema.seleccionado {
  border: 3px solid var(--color-primary);
}

.listaTema::-webkit-scrollbar {
  height: 8px;
}

.listaTema::-webkit-scrollbar-thumb {
  background: var(--color-primary-offset);
}

.listaTema::-webkit-scrollbar-track {
  background: var(--color-bg-offset);
}

.coloresPaleta {
  margin-left: -0.5rem;
}

.colorPrimario {
  background-color: var(--color-primary);
}

.colorSecundario {
  background-color: var(--color-secondary);
}

.colorBorde {
  background-color: var(--color-border);
}

.colorTexto {
  background-color: var(--color-text);
}

.colorTextoffset {
  background-color: var(--color-text-offset);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-icon-a);
  border: 3px solid var(--color-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

/*----------------------------------------------------------*/
/*----------------- SECCION HEADER NAV ---------------------*/
/*----------------------------------------------------------*/

.navHeader {
  height: 8vh;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
}

.menuFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.7rem;
  width: 100%;
}

.menuFlex li {
  text-decoration: none;
  list-style: none;
}

.menuFlex li a {
  text-decoration: none;
  color: var(--color-icon-a);
  font-size: 0.7rem;
}

.menuFlex li a:hover {
  color: var(--color-primary-offset);
}

#miIcono {
  color: var(--color-icon-a);
  font-size: 0.8rem;
}

/*----------------------------------------------------------*/
/*---------------------MAIN SECCION HERO--------------------*/
/*----------------------------------------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
  width: 100%;
  margin-top: -5rem;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#h1 {
  text-align: start;
  color: var(--color-text);
  font-size: clamp(14px, 7vw, 16px);
  font-weight: 400;
  font-family: var(--roboto);
  margin: 0;
  padding-bottom: 0.5rem;
}

.nombre {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 0;
  font-family: var(--roboto);
}

.ocupacion {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.2rem 0 1rem 0;
  font-family: var(--roboto);
  margin: 0;
  padding: 0.2rem 0;
  color: var(--color-icon-a);
}

.typed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descripcion p {
  color: var(--color-p);
  font-family: var(--monserrat);
  font-weight: 300;
  padding: 1rem 0;
  margin: 0;
}

.cv {
  margin-top: 1rem;
}

.cv a button {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-primary);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: var(--color-btn-shadow) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.cv a button:hover {
  box-shadow: var(--color-btn-shadow) 0px 7px 0px 0px;
}

.cv a button:active {
  background-color: var(--color-primary);
  /*50, 168, 80*/
  box-shadow: var(--color-btn-shadow) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.fas {
  margin-left: 1rem;
}

.redes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
}

.redes ul li {
  list-style: none;
}

.right-email {
  display: none;
}

.left-icn {
  display: none;
}

/*----------------------------------------------------------*/
/*---------------------SECCION SOBRE MI---------------------*/
/*----------------------------------------------------------*/
.numeroDeCabecera {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  color: var(--color-primary);
}

.numeroDeCabecera::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--color-primary);
}

.numeroDeCabecera::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 5px;
  color: var(--color-primary);
  font-family: var(--roboto);
  font-size: 1.3rem;
  font-weight: 400;
}

.sectionSobreMi {
  height: 50vh;
  padding: 2rem;
  width: 100%;
  color: var(--color-p);
}

.divSobreMi {
  padding: 0 1rem;
}

#section-tecno {
  width: 100%;
  margin-top: 10rem;
  padding: 0 2rem;
  height: 40vh;
}

.divTecno {
  padding: 0 1rem;
}

.divTecno p {
  color: var(--color-p);
}


.tecnologias ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px ;
  list-style: none;
  justify-content: end;
}

.tecnologias ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: var(--color-p);
}

.tecnologias ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--color-primary);
  line-height: 1.2rem;
}


/*----------------------------------------------------------*/
/*---------------------SECCION PROYECTOS--------------------*/
/*----------------------------------------------------------*/

.sectionProyectos {
  padding: 0 2rem;
  width: 100%;
  margin: 3rem 0;
  color: var(--color-p);
}

.cardProyectos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  height: 35rem;
  box-shadow: var(--color-btn-shadow) 4px 4px 2px;
}

.fa-arrow-up-right-from-square {
  color: var(--color-primary-offset);
}

.projects-card .projects-card-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.projects-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-primary-offset);
  box-shadow: 0 10px var(--color-primary);
}

.projects-card .projects-card-img {
  width: 100%;
  height: 18rem;
}

.projects-card .projects-card-img a img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.projects-card .projects-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.projects-card .projects-card-info h3 {
  font-size: 1.1rem;
  color: var(--color-primary);
}

.projects-card .projects-card-info p {
  width: 100%;
  line-height: 24px;
}

.projects-card .projects-card-info footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.projects-card .projects-card-info footer a {
  text-decoration: none;
  color: var(--color-primary);
  transition: none;
}

/*----------------------------------------------------------*/
/*--------------------------FOOTER--------------------------*/
/*----------------------------------------------------------*/
.email {
  display: none;
}

.footer-redes {
  height: 10vh;
  margin-top: 5rem;
}

.redes ul {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 50%;
  margin: 0;
}

.fraseFooter {
  height: 50%;
  margin: 1rem 0;
  padding: 0 2rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--color-p);
  text-align: center;
}

.fa-brands {
  color: var(--color-primary);
  font-size: 1.5rem;
}

@media (min-width: 480px) {
  .descripcion p {
    margin-bottom: 0;
    padding-top: 3rem;
  }

  #miIcono {
    padding-left: 4rem;
  }
}

/*----------------------------------------------------------*/
/*--------------------------Media queris 768px--------------------------*/
/*----------------------------------------------------------*/

@media (min-width: 768px) {
  /*----------------------------------------------------------*/
  /*--------------------------iconos menu hmb y temas--------------------------*/
  /*----------------------------------------------------------*/

  .iconoTema {
    order: 2;
    padding: 0 2rem 0 0;
  }

  #miIcono {
    padding: 0;
  }

  #miIcono:hover {
    color: var(--color-primary-offset);
  }

  .logo {
    display: none;
  }
  /*----------------------------------------------------------*/
  /*--------------------------section hero--------------------------*/
  /*----------------------------------------------------------*/

  .navMenu {
    display: block;
    width: 80%;
    font-size: 0.9rem;
  }

  .navHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 1rem 0;
    align-items: center;
    height: 30%;
  }

  .menuFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }

  .hero {
    width: 70%;
    margin: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
  }

  .right-email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    display: block;
  }

  .right-email-a {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }

  .right-email a {
    margin: 20px auto;
    padding: 10px;
    font-family: inherit;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: var(--color-icon-a);
    text-decoration: none;
  }

  .right-email a:hover {
    color: var(--color-primary);
    transform: scale(1.05);
  }

  .right-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--color-icon-a);
  }

  .left-icn {
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    color: var(--color-icon-a);
    left: 20px;
    right: auto;
    display: block;
  }

  .left-list-icn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .left-list-icn li {
    line-height: 4.5rem;
  }

  .left-list-icn li a {
    padding: 10px;
    color: var(--color-icon-a);
  }

  .left-list-icn li a:hover {
    color: var(--color-primary);
  }

  .left-list-icn li a svg:hover {
    transform: scale(1.3);
  }

  .left-list-icn::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    margin-left: 1.8rem;
    background-color: var(--color-icon-a);
  }

  .typed {
    margin-top: -20rem;
    height: 20vh;
  }

  .descripcion p {
    padding: 0;
    margin: 3rem 0;
  }

  .sectionProyectos {
    width: 70%;
    margin: auto;
    height: 60vh;
  }

  .sectionSobreMi {
    width: 70%;
    margin: auto;
  }

  .iconosPrincipales {
    width: 10%;
  }

  .nombre {
    width: max-content;
    font-size: 3rem;
  }

  .ocupacion {
    font-size: 3rem;
  }

  .cv {
    margin-bottom: 4rem;
  }

  .redes ul {
    display: none;
  }

  @media (min-width: 1280px) {
  }
}
