@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;500;600&display=swap");

/*----------------------------------------------------------*/
/*-------------------- RESETO CSS --------------------------*/
/*----------------------------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll-behavior 3.5s ease;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------------------------------------------------*/
/*-------------------- SET DE TEMAS A ELEGIR ---------------*/
/*----------------------------------------------------------*/

:root {
  --roboto:'Roboto mono';
  --monserrat: 'Montserrat'
}

[data-theme="default"] {
  --color-bg: #ffffff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
  --color-p: #818a92;
}

[data-theme="dark"] {
  --color-bg: #0e141b;
  --color-bg-offset: #252526;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-border: #2d2d2d;
  --color-primary: #ff5277;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3;
  --color-p: #8892b0;
}

[data-theme="choco"] {
  --color-bg: #55423d;
  --color-bg-offset: #41312e;
  --color-text: #fffffe;
  --color-text-offset: #ffc0ad;
  --color-border: #271c19;
  --color-primary: #f3ab87;
  --color-primary-offset: #ffc0ad;
  --color-secondary: #e78fb3;
  --color-p: #f5ebeb;
}

[data-theme="light"] {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-text: #172c66;
  --color-text-offset: #006e8a;
  --color-border: #f3d2c1;
  --color-primary: #f582ae;
  --color-primary-offset: #fa698b;
  --color-secondary: #8bd3dd;
  --color-sidebar: #393646;
  --color-p: #8892b0;
}

[data-theme="bowser"] {
  --color-bg: #16161a;
  --color-bg-offset: #29293e;
  --color-text: #fffffe;
  --color-text-offset: #94a1b2;
  --color-border: #383a61;
  --color-primary: #7f5af0;
  --color-primary-offset: #e068fd;
  --color-secondary: #2cb67d;
  --color-p: #8892b0;
}

/*----------------------------------------------------------*/
/*-------------------- PROPI BODY --------------------------*/
/*----------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-bold", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
}

/*----------------------------------------------------------*/
/*-------------- SECCION HEADER MENU TEMAS -----------------*/
/*----------------------------------------------------------*/

#seleccionTema {
  background-color: var(--color-border);
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#seleccionTema {
  animation-name: aparecer;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  /* Esto asegura que el div se mantenga en su lugar después de la animación */
}

@keyframes aparecer {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#menuTema {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 1.5rem 2rem;
  margin: 0;
}

#menuTema li {
  display: inline-block;
  border-radius: 0.5rem;
  margin: 0px 0.3rem;
}

#menuTema li button {
  padding: 1rem;
  border-radius: 0.5em;
  width: 100%;
  background-color: var(--color-bg);
  cursor: pointer;
  border: none;
}

.tituloTema {
  text-align: center;
  margin: 0;
}

.iconosPrincipales {
  display: flex;
  width: 38%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.iconoTema {
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
  color: var(--color-text);
  cursor: pointer;
  width: 50%;
}

.miVentanaEmergente {
  display: none !important;
}

.nombreTema {
  display: block;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.coloresPaleta {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  white-space: nowrap;
  text-indent: 100%;
  text-align: left;
  overflow: hidden;
  vertical-align: bottom;
  box-shadow: 0 0 0 2px #fff;
}

.listaItemTema.seleccionado {
  border: 3px solid var(--color-primary);
}

.listaTema::-webkit-scrollbar {
  height: 8px;
}

.listaTema::-webkit-scrollbar-thumb {
  background: var(--color-primary-offset);
}

.listaTema::-webkit-scrollbar-track {
  background: var(--color-bg-offset);
}

.coloresPaleta {
  margin-left: -0.5rem;
}

.colorPrimario {
  background-color: var(--color-primary);
}

.colorSecundario {
  background-color: var(--color-secondary);
}

.colorBorde {
  background-color: var(--color-border);
}

.colorTexto {
  background-color: var(--color-text);
}

.colorTextoffset {
  background-color: var(--color-text-offset);
}

/*----------------------------------------------------------*/
/*----------------- SECCION HEADER NAV ---------------------*/
/*----------------------------------------------------------*/

.navHeader {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  width: 50%;
  height: auto;
  color: var();
}

.logo img {
  width: 5rem;
  border-radius: 80%;
  object-fit: contain;
}

.navMenu {
  display: none;
}

/*----------------------------------------------------------*/
/*------------------------- MENU HMB------------------------*/
/*----------------------------------------------------------*/

.barsMenu {
  width: 30px;
  height: 30px;
  margin-top: -1.5rem;
}

.barsMenu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-text);
  margin-top: 4px;
  transform-origin: 0px 100%;
  transition: all 300ms;
  border-radius: 1rem;
}

.activeLine1 {
  transform: rotate(45deg) translate(-3px, 4px);
}

.activeLine2 {
  opacity: 0;
  margin-left: -1.7rem;
}

.activeLine3 {
  transform: rotate(-45deg) translate(-8px, 2px);
}

/*----------------------------------------------------------*/
/*---------------------VENTNA LATERAL IZQ-------------------*/
/*----------------------------------------------------------*/
.menu {
  position: absolute;
  top: 0;
  left: -15rem;
  width: 12rem;
  height: 100%;
  background-color: var(--color-sidebar);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu ul {
  padding: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-primary);
}

.menu-open .menu {
  left: 0;
  z-index: 4;
}

.containerLink {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navLink {
  color: var(--color-border);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.numVentana {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.blur {
  filter: blur(4px);
  transition: all 0.3s ease;
  z-index: 5;
}

.hidden {
  overflow: hidden;
}

/*----------------------------------------------------------*/
/*---------------------MAIN SECCION HERO--------------------*/
/*----------------------------------------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: s;
  height: 85vh;
  padding: 0 2rem;
  width: 100%;
}

#h1 {
  text-align: start;
  color: var(--color-text);
  font-size: clamp(14px, 7vw, 16px);
  font-weight: 400;
  font-family: var(--roboto);
}

.nombre {
  color: var(--color-primary);
  line-height: 1;
  font-size: clamp(30px, 8vw, 80px);
  font-weight: 600;
  margin-top: 0.3rem;
  font-family: var(--roboto);
}

.ocupacion {
  line-height: -0.1;
  font-size: clamp(30px, 8vw, 80px);
  font-weight: 500;
  margin-top: -1rem;
  font-family: var(--roboto);
}

.typed {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descripcion {
  height: 25vh;
  color: #8892b0;
  margin-top: -1rem;
}

.descripcion p {
  margin-top: -1rem;
  color: var(--color-p);
  font-family: var(--monserrat);
  font-weight: 300;
  line-height: 1.5rem;
}

.cv {
  margin-top: -1rem;
}

.cv a button {
  border: 2px solid var(--color-primary);
  padding: 1rem;
  background-color: var(--color-bg);
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--color-primary);
  width: 14rem;
  height: 3.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.344);
}

.redes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
}

.redes ul li {
  list-style: none;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1279px) {
}
@media (min-width: 1280px) {
}
